$title
m062x
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-20,22                                                                     \
   basis =c aug-cc-pVDZ                                                        \
   jbas  =c aug-cc-pVDZ
o  21,24-25                                                                    \
   basis =o aug-cc-pVDZ                                                        \
   jbas  =o aug-cc-pVDZ
n  23                                                                          \
   basis =n aug-cc-pVDZ                                                        \
   jbas  =n aug-cc-pVDZ
h  26-40                                                                       \
   basis =h aug-cc-pVDZ                                                        \
   jbas  =h aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-86                                   ( 2 )
$scfiterlimit      500
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$pointvalper fmt=cub
orbs 2
k 1 1 1 a 86
k 1 1 1 a 87
$jbas    file=auxbasis
$dft
   functional m06-2x
   gridsize   m3
$scfconv   7
$rundimensions
   natoms=40
   nbf(CAO)=760
   nbf(AO)=710
$last step     riper
$orbital_max_rnorm 0.12028673522822E-02
$last SCF energy change = -1089.3237
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1089.323705290    -5263.608224441     2341.040084092     0.000000000000     0.000000000000     1906.509203268
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     2.05637357454293    y    -3.05578813665790    z     0.54422868345459    a.u.
   | dipole | =    9.4636658339  debye
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
