$title
b3
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-21,23                                                                     \
   basis =c aug-cc-pVDZ                                                        \
   jbas  =c aug-cc-pVDZ
o  22                                                                          \
   basis =o aug-cc-pVDZ                                                        \
   jbas  =o aug-cc-pVDZ
n  24                                                                          \
   basis =n aug-cc-pVDZ                                                        \
   jbas  =n aug-cc-pVDZ
h  25-39                                                                       \
   basis =h aug-cc-pVDZ                                                        \
   jbas  =h aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-81                                   ( 2 )
$scfiterlimit      500
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$pointvalper fmt=cub
orbs 2
k 1 1 1 a 81
k 1 1 1 a 82
$jbas    file=auxbasis
$dft
   functional b3-lyp
   gridsize   m3
$scfconv   7
$rundimensions
   natoms=39
   nbf(CAO)=735
   nbf(AO)=687
$last step     riper
$orbital_max_rnorm 0.14159914760488E-02
$last SCF energy change = -976.84409
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-976.8440901171    -4768.198907014     2168.583380900    -106.5724610183    -6.463354151511     1735.807251167
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     1.99247694554469    y    -2.87802207436263    z     0.49724472512678    a.u.
   | dipole | =    8.9865806113  debye
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
