$cosmo
  epsilon=    4.800
  rsolv= 1.30
$cosmo_atoms
# radii in Angstrom units
c  1-13,15-16,18-20,24-31                                                      \
   radius=  2.0000
n  14,21-23                                                                    \
   radius=  1.8300
o  17                                                                          \
   radius=  1.7200
h  32-53                                                                       \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$title
mp2
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
    basis =aug-cc-pVDZ
    cbas  =aug-cc-pVDZ
    jbas  =aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-107                                  ( 2 )
$scfiterlimit      500
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=53
   nbf(CAO)=973
   nbf(AO)=911
$last step     escf
$ricc2
mp2
$denconv    1d-7
$orbital_max_rnorm 0.13136409617766E-03
$last SCF energy change = -1290.1344
$subenergy  Etot         E1                  Ej                Ex                 En
-1290.134428183    -6732.887362663     0.000000000000     0.000000000000     2508.363494166
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x    -0.12022905396364    y     1.45946794234575    z   -14.29727717066362    a.u.
   | dipole | =   36.5304555088  debye
$cbas file=auxbasis
$last MP2 energy change= -4.4869517
$scfinstab hyperpol nm
45560000000.0
800.0
$end
