$cosmo
  epsilon=    4.800
  rsolv= 1.30
$cosmo_atoms
# radii in Angstrom units
c  1-13,15-16,18-20,24-26                                                      \
   radius=  2.0000
n  14,21-23                                                                    \
   radius=  1.8300
o  17                                                                          \
   radius=  1.7200
h  27-44                                                                       \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$title
m062xd
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-13,15-16,18-20,24-26                                                      \
   basis =c aug-cc-pVDZ                                                        \
   jbas  =c aug-cc-pVDZ
n  14,21-23                                                                    \
   basis =n aug-cc-pVDZ                                                        \
   jbas  =n aug-cc-pVDZ
o  17                                                                          \
   basis =o aug-cc-pVDZ                                                        \
   jbas  =o aug-cc-pVDZ
h  27-44                                                                       \
   basis =h aug-cc-pVDZ                                                        \
   jbas  =h aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-90                                   ( 2 )
$scfiterlimit      200
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$dft
   functional m06-2x
   gridsize   m3
$scfconv   7
$rundimensions
   natoms=44
   nbf(CAO)=812
   nbf(AO)=760
$last step     escf
$orbital_max_rnorm 0.10847648480439E-02
$last SCF energy change = -1104.9460
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1104.945976745    -5289.162642667     2348.316000855     0.000000000000     0.000000000000     1911.339317370
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     0.83829378442235    y     1.79245258720866    z   -14.84431564347506    a.u.
   | dipole | =   38.0645284335  debye
$scfinstab hyperpol nm
45560000000.0
800.0
$end
