$title
cam
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-20                                                                        \
   basis =c aug-cc-pVDZ                                                        \
   jbas  =c aug-cc-pVDZ
o  21,23-24                                                                    \
   basis =o aug-cc-pVDZ                                                        \
   jbas  =o aug-cc-pVDZ
n  22                                                                          \
   basis =n aug-cc-pVDZ                                                        \
   jbas  =n aug-cc-pVDZ
h  25-37                                                                       \
   basis =h aug-cc-pVDZ                                                        \
   jbas  =h aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-82                                   ( 2 )
$scfiterlimit      500
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$pointvalper fmt=cub
orbs 2
k 1 1 1 a 82
k 1 1 1 a 83
$jbas    file=auxbasis
$dft
   functional cam-b3lyp
   gridsize   m3
$scfconv   7
$rundimensions
   natoms=37
   nbf(CAO)=717
   nbf(AO)=669
$last step     riper
$orbital_max_rnorm 0.16207589828502E-02
$last SCF energy change = -1049.8804
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-1049.880410798    -4981.566836654     2246.767178129     0.000000000000     0.000000000000     1791.065047349
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     1.93457732934417    y    -2.99210197128725    z    -0.00363897790487    a.u.
   | dipole | =    9.0564209388  debye
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
