$title
mp2
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
    basis =aug-cc-pVDZ
    cbas  =aug-cc-pVDZ
    jbas  =aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-82                                   ( 2 )
$scfiterlimit      500
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=37
   nbf(CAO)=717
   nbf(AO)=669
$last step     escf
$ricc2
mp2
$denconv    1d-7
$orbital_max_rnorm 0.23261231116454E-03
$last SCF energy change = -1043.9765
$subenergy  Etot         E1                  Ej                Ex                 En
-1043.976454565    -4978.301344251     0.000000000000     0.000000000000     1791.065047349
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     1.98833926824295    y    -3.13715087784021    z    -0.00687850766045    a.u.
   | dipole | =    9.4406173120  debye
$cbas file=auxbasis
$last MP2 energy change= -3.5392386
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
