$cosmo
  epsilon=    4.800
  rsolv= 1.30
$cosmo_atoms
# radii in Angstrom units
o  1                                                                           \
   radius=  1.7200
n  2-5                                                                         \
   radius=  1.8300
c  6-15,17,19-20,22,24,28,32,34,36,38,40,42,44,48                              \
   radius=  2.0000
h  16,18,21,23,25-27,29-31,33,35,37,39,41,43,45-47,49-51                       \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$cosmo_correlated
$title
mp2
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
    basis =aug-cc-pVDZ
    cbas  =aug-cc-pVDZ
    jbas  =aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-101                                  ( 2 )
$scfiterlimit      500
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=51
   nbf(CAO)=923
   nbf(AO)=865
$last step     escf
$ricc2
mp2
$denconv    1d-7
$orbital_max_rnorm 0.14576446129882E-04
$last SCF energy change = -1214.3776
$subenergy  Etot         E1                  Ej                Ex                 En
-1214.377585056    -6042.535236582     0.000000000000     0.000000000000     2213.314956258
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     3.44563534222119    y    -0.93046667347908    z    10.65507977061930    a.u.
   | dipole | =   28.5616769788  debye
$cbas file=auxbasis
$last MP2 energy change= -4.2155900
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
