$cosmo
  epsilon=    4.800
  rsolv= 1.30
$cosmo_atoms
# radii in Angstrom units
c  1-25,28,30-31                                                               \
   radius=  2.0000
n  26,32-34                                                                    \
   radius=  1.8300
s  27                                                                          \
   radius=  2.1600
o  29                                                                          \
   radius=  1.7200
h  35-60                                                                       \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$cosmo_correlated
$title
mp2
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
    basis =aug-cc-pVDZ
    cbas  =aug-cc-pVDZ
    jbas  =aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-123                                  ( 2 )
$scfiterlimit      500
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=60
   nbf(CAO)=1088
   nbf(AO)=1020
$last step     escf
$ricc2
mp2
$denconv    1d-7
$orbital_max_rnorm 0.49001744181135E-04
$last SCF energy change = -1765.7255
$subenergy  Etot         E1                  Ej                Ex                 En
-1765.725484482    -8484.237708082     0.000000000000     0.000000000000     3057.765963564
$charge from ridft
          0.000 (not to be modified here)
$dipole from ridft
  x     1.99492727890856    y     1.54701988248621    z    -9.33774555230093    a.u.
   | dipole | =   24.5864427123  debye
$cbas file=auxbasis
$last MP2 energy change= -4.9584219
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
