$cosmo
  epsilon=    4.800
  rsolv= 1.30
$cosmo_atoms
# radii in Angstrom units
c  1-17,19-21,26-27                                                            \
   radius=  2.0000
o  18                                                                          \
   radius=  1.7200
n  22-25                                                                       \
   radius=  1.8300
h  28-47                                                                       \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_data file=cosmo_transfer.tmp
$title
mp2
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
    basis =aug-cc-pVDZ
    cbas  =aug-cc-pVDZ
    jbas  =aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-94                                   ( 2 )
$scfiterlimit      500
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=47
   nbf(CAO)=855
   nbf(AO)=801
$last step     escf
$ricc2
mp2
$denconv    1d-7
$orbital_max_rnorm 0.25872118519099E-04
$last SCF energy change = -1137.4806
$subenergy  Etot         E1                  Ej                Ex                 En
-1137.480594819    -5616.242280096     0.000000000000     0.000000000000     2051.186230842
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -2.37100819487182    y    -9.77121241685325    z     2.52777831542586    a.u.
   | dipole | =   26.3521085924  debye
$cbas file=auxbasis
$last MP2 energy change= -3.9365902
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
