$title
cam
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-21,23-24                                                                  \
   basis =c aug-cc-pVDZ                                                        \
   jbas  =c aug-cc-pVDZ
n  22,25                                                                       \
   basis =n aug-cc-pVDZ                                                        \
   jbas  =n aug-cc-pVDZ
h  26-43                                                                       \
   basis =h aug-cc-pVDZ                                                        \
   jbas  =h aug-cc-pVDZ
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-85                                   ( 2 )
$scfiterlimit      500
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     2000
$rij
$pointvalper fmt=cub
orbs 2
k 1 1 1 a 85
k 1 1 1 a 86
$jbas    file=auxbasis
$dft
   functional cam-b3lyp
   gridsize   m3
$scfconv   7
$rundimensions
   natoms=43
   nbf(CAO)=787
   nbf(AO)=737
$last step     riper
$orbital_max_rnorm 0.68785833827253E-03
$last SCF energy change = -996.31682
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-996.3168205986    -5049.567253729     2293.473557719     0.000000000000     0.000000000000     1864.924387094
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     2.88289023360812    y    -3.26757033171910    z     0.23983669432060    a.u.
   | dipole | =   11.0925850691  debye
$scfinstab hyperpol nm
45560000000.0
1300.0
$end
